@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #121212;
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 150px;
}

.main {
    display: flex;
}

.sidebar {
    padding: 5px;
    position: fixed;
    width: 200px;
    font-family: Nanum Gothic Coding;
    height: 100%;
    background-color: #121212;
    color: white;
    font-size: 20px;
    margin-top: 10%;
}

.sidebar li {
    list-style: none;
    margin-left: 50px;
    line-height: 65px;
}

.introducao {
    line-height: 65px;
    font-size: 20px;
    font-family: Nanum Gothic Coding;
    color: #28dd17;
}

p {
    font-size: 20px;
    font-family: Nanum Gothic Coding;
    color: #f1f0f0;
}

.repositorio {
    font-size: 20px;
    font-family: Solway;
    color: #f1f0f0;
    margin-top: 3%;
    text-align: center;
    margin-left: -25vw;
}

.ulinfo {
    display: flex;
    gap: 2vw;
    margin-top: 1%;
    font-size: 0.7vw;
    font-family: Solway;
    color: white;
    list-style: inside url(reproduzir.png);
}

h1 {
    line-height: 80px;
    font-size: 80px;
    font-family: Catamaran;
    color: white;
}

.h12 {
    color: grey;
}

.icon {
    margin-top: 50%;
}

.icone {
    padding: 30px 0px;
    margin-left: 50%;
    display: list-item;
    width: 20px;
}

a {
    text-decoration: none;
    color: #f1f0f0;
}


.div_main {
    margin-top: 10%;
    margin-left: 30%;
}

.botao_sobre {
    background-color:#28dd17;
    color: #121212;
    font-family: Solway;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    margin-top: 1%;
    margin-bottom: 30%;
}

.botao_sobre:hover {
    background-color: #267e1e;
    transition: 0.3s;
    cursor: pointer;
}

.botao_contato {
    margin-top: 3%;
    border-style: solid;
    border-color:#28dd17;
    font-family: Solway;
    font-size: 20px;
    padding: 10px 30px;
    color: #28dd17;
}

.botao_contato:hover {
    background-color: #1a7f11;
    color: #121212;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar li:hover {
    color: #61e455;
    transition: 0.3s;
    cursor: pointer;
}

.info1 {
    margin-left: 10%;
    width: 50%;
    margin-top: 20px;
}

.info2 {
    margin-top: 30%;
    width: 90%;
}

.info3 {
    margin-top: 30%;
    width: 30%;
    margin-left: 10%;
    align-items: center;
    text-align: center;
}

.container {
    width: 20rem;
    height: 15vw;
    display: flex;
    margin-left: -25rem;
}
.prjt1{
    width: 40rem;
    padding: 10px;
}
.prjt1:hover{
    border: none;
    transition: 0.5s;
    background-color: #61e455;
}

.projeto{
    width: 20vw;
    height: 15vw;
    background: rgba(29, 29, 29, 0.35);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(161, 255, 133, 0.18);
    filter: blur(2px);
    gap: 2vw;
}

h1.info {
    margin-top: 10%;
    font-size: 40px;
    font-family: Catamaran;
    color: white;
}

.footer {
    height: 400px;
    background-color: #121212;
}